.calendar {
  width: 100%;
  text-align: center;
  color: rgb(75, 80, 75);
  padding: 20px;
}

.year_month {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.month_btn:hover {
  color: rgb(205, 178, 146);
  cursor: pointer;
}

.calendar th {
  width: 105px;
  height: 30px;
  padding-bottom: 20px;
}

.calendar td {
  width: 105px;
  height: 40px;
  padding: 0 30px 30px 30px;
}

.subscribable:hover {
  cursor: pointer;
  color: rgb(205, 178, 146);
}

.unsubscribeable {
  color: rgb(200, 200, 200);
}

.date {
  height: 30px;
}

.btn {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(205, 178, 146);
  margin: auto;
}

.btnless {
  width: 10px;
  height: 10px;
}
