.SubsBtn {
  width: 100%;
  max-width: 728px;
  height: 100px;
  background-color: bisque;
  position: fixed;
  color: white;
  bottom: 0px;
  font-size: 20px;
  text-align: center;
  border: none;
}

.SubsBtn:disabled {
  background-color: rgb(245, 245, 240);
}

.SubsBtn:hover {
  cursor: pointer;
}

.SubsBtn:disabled:hover {
  cursor: default;
}
