.login_page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form input {
  display: block;
  height: 50px;
  width: 300px;
  margin-bottom: 10px;
}

.login_form button {
  height: 50px;
  width: 300px;
}
